PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL=postgresql://postgres:Riju2004@localhost:5432/devhire
JWT_SECRET=5c2MG2Jwueu1uj2yAqaXqHWjRpgLWPtQjL5VAFpcc2j
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=dya2mnq2q
CLOUDINARY_API_KEY=558645793535442
CLOUDINARY_API_SECRET=JRM80oObVjdwQmeSPXOZjJW0G8Q